*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 1.72rem;
    margin-bottom: 1.5rem;
}
h2{
    font-size: 1.44rem;
    margin-bottom: 1.25rem;
}
h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
h4{
    font-size: 1rem;
}
p{
    font-size: 1rem;
    line-height: 150%;
}
a{
    text-decoration: none;
    color: black;
}
#logo{
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 1.2rem;
}
#logo:hover{
    font-size: 2rem;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;    
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid darkgray;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#menubutton{
    background-color: transparent;
    border: none;
}
nav{
    display: none;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: .25rem;
    height: 40px;
    transition: 0.5s ease-in;
}
.buttonprimary{
    background-color: black;
    color: white;
}
.buttonprimary:hover{
    background-color: darkred;
    height: 50px;
    font-size: large;
}
.buttonsecondary{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.buttonsecondary:hover{
    background-color: black;
    color: white;
    height: 50px;
    font-size: large;
}
.buttonholder{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#aboutsection{
    background-color: rgb(242, 238, 238);
}
.blog img{
    width: 100%;
    border-radius: 0.5rem;
}
.blog{
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
}
.blog:hover{
    border: 2px solid red;
    transition: 0.5s ease-in;
    h3{
        color: red;
        transition: 0.5s ease-in;
    }
    
}
.blog p{
    font-size: 0.9rem;
}
.blogslist{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media only screen and (min-width: 576px) {
    .blogslist{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width: 768px) {
    h1{
        font-size: 2.07rem;
    }
    h2{
        font-size: 1.72rem;
    }
    h3{
        font-size: 1.44rem;
    }
    h4{
        font-size: 1.2rem;
    }

    #menubutton{
        display: none;
    }
    nav{
        display: block;
    }
    #navlist{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        list-style: none;
    }
    #navlist a{
        text-decoration: none;
        color: rgb(90, 89, 89);
    }
    #navlist a:hover{
        text-decoration: underline;
        font-size: large;
        color: black;
    }
    .blogslist{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 992px) {
    .blogslist{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media only screen and (min-width: 1200px) {
    h1{
        font-size: 2.98rem;
    }
    h2{
        font-size: 2.48rem;
    }
    h3{
        font-size: 2.07rem;
    }
    h4{
        font-size: 1.7rem;
    }
    .blogslist{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}